<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python19_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 필요한 패키지(모듈) import

In [ ]:
import pandas as pd
import seaborn as sns

# tips 데이터 셋

In [ ]:
# seaborn 패키지의 tips 예제 데이터 셋을 로드
tips = sns.load_dataset('tips')

In [ ]:
print(type(tips))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# 연습문제

*   DataFrame의 row, column 개수
*   DataFrame의 컬럼 이름
*   DataFrame에서 첫 5개 row 출력
*   DataFrmae에서 마지막 5개 row 출력
*   DataFrame의 요약 정보 출력
*   DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
*   DataFrame에서 카테고리 타입 변수들의 빈도수 출력
*   total_bill 컬럼의 값이 최댓값인 행을 출력
*   total_bill 컬럼의 값이 최솟값인 행을 출력
*   남성(sex)들의 팁(tip)의 평균 출력
*   여성(sex)들의 팁(tip)의 평균 출력
*   일요일(day)의 팁(tip)의 평균 출력
*   일요일(day), 남성(sex)의 팁(tip)의 평균 출력
*   일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [ ]:
tips.shape  #(행의 갯수, 열의 갯수) tuple
print('rows =', tips.shape[0])
print('column =', tips.shape[1])

rows = 244
column = 7

In [ ]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
# DF의 columns 속성은 for-in 구문에서 사용할 수 있음
for col in tips.columns:
    print(col)

total_bill
tip
sex
smoker
day
time
size

In [ ]:
tips.head()

# tips.i;oc[:5]
# tips.lox[:4]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips.tail()

# tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
tips.info()  # 아래에 non-null -> 빈 column이 없다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

64 bit = 8 byte

In [ ]:
tips.describe()  # 기술 통계량
 # 아래 50% -> 2사분위값 중위값 median
# 짝수인 경우 중위값을 찾을때 그 앞뒤의 평균을 냄

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
tips['sex'].value_counts(), tips['smoker'].value_counts(), tips['day'].value_counts(), tips['time'].value_counts()

(sex
 Male      157
 Female     87
 Name: count, dtype: int64,
 smoker
 No     151
 Yes     93
 Name: count, dtype: int64,
 day
 Sat     87
 Sun     76
 Thur    62
 Fri     19
 Name: count, dtype: int64,
 time
 Dinner    176
 Lunch      68
 Name: count, dtype: int64)

In [ ]:
tips['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [ ]:
tips[tips.total_bill == tips.total_bill.max()]

# t_b_max = tips[tips['total_bill'] == max(tips.total_bill)]
# t_b_max

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
tips[tips.total_bill == tips.total_bill.min()]

# t_b_min = tips[tips['total_bill'] == min(tips.total_bill)]
# t_b_min

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [ ]:
# sum(tips.tip) / len(tips.tip)

# m_t_mean = sum(m_tip.tip) / len(m_tip.tip)
# print('남성(sex)들의 팁(tip)의 평균=', m_t_mean)

m_tip = tips[tips['sex'] == 'Male']   # 성별 남성 레코드만으로 만들어진 DF
m_tip.tip.mean()
print('남성(sex)들의 팁(tip)의 평균=', m_tip.tip.mean())

남성(sex)들의 팁(tip)의 평균= 3.0896178343949043

In [ ]:
# f_t_mean = sum(f_tip.tip) / len(f_tip.tip)
# print('여성(sex)들의 팁(tip)의 평균=', f_t_mean)

f_tip = tips[tips['sex'] == 'Female']
f_tip.tip.mean()
print('여성(sex)들의 팁(tip)의 평균=', f_tip.tip.mean())

여성(sex)들의 팁(tip)의 평균= 2.8334482758620685

In [ ]:
# s_t_mean = sum(s_tip.tip) / len(s_tip.tip)
# print('일요일(day)의 팁(tip)의 평균=', s_t_mean)

s_tip = tips[tips['day'] == 'Sun']
s_tip.tip.mean()
print('일요일(day)의 팁(tip)의 평균=', s_tip.tip.mean())

일요일(day)의 팁(tip)의 평균= 3.2551315789473687

In [ ]:
# s_m_t_mean = sum(s_m_tip.tip) / len(s_m_tip.tip)
# print('일요일(day), 남성(sex)의 팁(tip)의 평균=', s_m_t_mean)

s_m_tip = tips[(tips['day'] == 'Sun') & (tips['sex'] == 'Male')]
s_m_tip.tip.mean()
print('일요일(day), 남성(sex)의 팁(tip)의 평균=', s_m_tip.tip.mean())

일요일(day), 남성(sex)의 팁(tip)의 평균= 3.2203448275862065

In [ ]:
# s_f_t_mean = sum(s_f_tip.tip) / len(s_f_tip.tip)
# print('일요일(day), 여성(sex)의 팁(tip)의 평균=', s_f_t_mean)

s_f_tip = tips[(tips.day == 'Sun') & (tips.sex == 'Female')]
s_f_tip.tip.mean()
print('일요일(day), 여성(sex)의 팁(tip)의 평균=', s_f_tip.tip.mean())

일요일(day), 여성(sex)의 팁(tip)의 평균= 3.3672222222222223

*모든 요일 팁의 평균

In [ ]:
# Series.values 속성 : Series에 저장된 모든 값들.
tips.values

array([[16.99, 1.01, 'Female', ..., 'Sun', 'Dinner', 2],
       [10.34, 1.66, 'Male', ..., 'Sun', 'Dinner', 3],
       [21.01, 3.5, 'Male', ..., 'Sun', 'Dinner', 3],
       ...,
       [22.67, 2.0, 'Male', ..., 'Sat', 'Dinner', 2],
       [17.82, 1.75, 'Male', ..., 'Sat', 'Dinner', 2],
       [18.78, 3.0, 'Female', ..., 'Thur', 'Dinner', 2]], dtype=object)

In [ ]:
# Series.unique() : Series의 중복되지 않는 값들로 이루어진 리스트를 리턴
tips.day.unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [ ]:
print(tips[tips.day == 'Sun'].tip.mean())
print(tips[tips.day == 'Sat'].tip.mean())
print(tips[tips.day == 'Thur'].tip.mean())
print(tips[tips.day == 'Fri'].tip.mean())

3.2551315789473687
2.993103448275862
2.771451612903225
2.7347368421052627

In [ ]:
for d in tips.day.unique():
    subset_df = tips[tips.day == d]
    tip_mean = subset_df.tip.mean()
    print(f'{d}: {tip_mean}')

Sun: 3.2551315789473687
Sat: 2.993103448275862
Thur: 2.771451612903225
Fri: 2.7347368421052627

## 식사 시간(Lunch, Dinner)별 팁의 평균

In [ ]:
# l_time = tips[tips.time == 'Lunch']
# print(l_time.tip.mean())
# d_time = tips[tips.time == 'Dinner']
# print(d_time.tip.mean())

for t in tips.time.unique():
    subset_df = tips[tips.time == t]
    tip_mean = subset_df.tip.mean()
    print(f'{t} : {tip_mean}')

Dinner : 3.102670454545454
Lunch : 2.728088235294118

# titanic 데이터 셋

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

titanic 데이터프레임 컬럼 설명:
*   survived : 생존 여부( 0= 사망, 1= 생존)
    *   alive 컬럼과 같은 내용(no = 사망, yes = 생존)
*   pclass : 객실 등급
    *   class 컬럼과 같은 내용(1 = first, 2 = second)
*   sex : 성별(male/female)
*   who : 성인남성(man), 성인여성(woman), 어린이(child)
*   age : 나이
*   sibsp : 동행한 형제자매 또는 배우자의 수
*   parch : 동행한 부모 또는 자녀의 수
*   fare : 탑승권 가격, 운임
*   adult_male : 성인 남성인 지 여부
*   alone : 혼자 탑승했는 지 여부

In [ ]:
# DataFrame에서 type이 object이면 문자열.
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

* NaN : Not a Number(숫자 아님). 숫자 타입 컬럼에 값이 없는 경우.

In [ ]:
tt = titanic
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
titanic.head(7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True

전페 승객중 남성 생존자 비율,여성 생존자 비율
* 남성 생존자 비율 = (남성 생존자 수)/(전체 승객수)
* 여성 생존자 비율= (여성 -/전체-)

In [ ]:
tt['class'].value_counts()

class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [ ]:
# 전체 승객수
num_of_total = tt.shape[0]  # (= len(tt))
num_of_total

891

In [ ]:
# 남성 생존자
num_of_male_alive = len(tt[(tt.sex == 'male') & (tt.alive == 'yes')])
num_of_male_alive

#tt[tt['class'] == 'First') & (tt['alive'] == 'yes')]

109

In [ ]:
# 여성 생존자
num_of_female_alive = len(tt[(tt.sex == 'female') & (tt.alive == 'yes')])
num_of_female_alive

233

In [ ]:
# 남성 생존자 비율
ratip_male_alive = num_of_male_alive / num_of_total
ratip_male_alive

0.122334455667789

In [ ]:
# 여성 생존자 비율
ratip_female_alive = num_of_female_alive / num_of_total
ratip_female_alive

0.2615039281705948

생존자들 중 남성 생존자 비율,여성 -비율
*   남성 생존자 비율 = (남성 생존자 수)/(전체 생존자 수)
*   여성- =(여성-)/(전체-)

In [ ]:
# 전체 생존자
num_of_total_alive = len(tt[tt.alive == 'yes'])
num_of_total_alive

342

In [ ]:
print('남성 생존자 비율 = ', num_of_male_alive / num_of_total_alive)
print('여성 생존자 비율 = ', num_of_female_alive / num_of_total_alive)

남성 생존자 비율 =  0.31871345029239767
여성 생존자 비율 =  0.6812865497076024

생존자들 중 성인 생존자 비율, 어린이 생존자 비율
*   성인 생존자 비율 = (성인 생존자 수)/ (전체 생존자 수)
*   어린이- =(어린이-)/(전체-)

In [ ]:
# 성인 생존자 수
num_of_adult_alive = tt[(tt.who != 'child') & (tt.alive == 'yes')]
len(num_of_adult_alive)

293

In [ ]:
# 어린이 생존자 수
num_of_child_alive = tt[(tt.who == 'child') & (tt.alive == 'yes')]
len(num_of_child_alive)

49

In [ ]:
print('성인 생존자 비율 = ', len(num_of_adult_alive) / num_of_total_alive  )
print('어린이 생존자 비율 = ', len(num_of_child_alive) / num_of_total_alive  )

성인 생존자 비율 =  0.8567251461988304
어린이 생존자 비율 =  0.14327485380116958

## 객실 등급별 생존자 비율

*1등급 객실 생존자 비율 = (1등급 객실 생존자)/ 전체 -
2
3

In [ ]:
# 1등급 객실 생존자
num_of_first_alive = len(tt[(tt.pclass == 1) & (tt.alive == 'yes')])
num_of_first_alive

136

In [ ]:
# 2등급 객실 생존자
num_of_second_alive = len(tt[(tt.pclass == 2) & (tt.alive == 'yes')])
num_of_second_alive

87

In [ ]:
# 3등급 객실 생존자
num_of_third_alive = len(tt[(tt.pclass == 3) & (tt.alive == 'yes')])
num_of_third_alive

119

In [ ]:
print('1등급 객실 생존자 비율 = ', num_of_first_alive / num_of_total_alive )
print('2등급 객실 생존자 비율 = ', num_of_second_alive / num_of_total_alive )
print('3등급 객실 생존자 비율 = ', num_of_third_alive / num_of_total_alive )

1등급 객실 생존자 비율 =  0.39766081871345027
2등급 객실 생존자 비율 =  0.2543859649122807
3등급 객실 생존자 비율 =  0.347953216374269

In [ ]:
tt.pclass.unique()

array([3, 1, 2])

In [ ]:
for c in tt.pclass.unique():
    num_of_class_alive = len(tt[(tt.pclass == c) & (tt.alive == 'yes')])
    print(f'{c}등급 객실 생존자 비율 = {num_of_class_alive/ num_of_total_alive}')

3등급 객실 생존자 비율 = 0.347953216374269
1등급 객실 생존자 비율 = 0.39766081871345027
2등급 객실 생존자 비율 = 0.2543859649122807

* 1등급 객실 생존자 비율 = (1등급 객실 생존자 수) / (1등급 객실 승객수)
* 2
* 3

In [ ]:
for c in tt.pclass.unique():
    # 각 객실 등급의 승객수
    num_of_class = len(tt[tt.pclass == c])
    # 각 객실의 등급의 생존자 수
    num_of_class_alive = len(tt[(tt.pclass == c) & (tt.alive == 'yes')])
    # 각 객실 등급의 생존자 비율
    print(f'{c}등급 객실에서 생존자 비율= , {num_of_class_alive / num_of_class}')

3등급 객실에서 생존자 비율= , 0.24236252545824846
1등급 객실에서 생존자 비율= , 0.6296296296296297
2등급 객실에서 생존자 비율= , 0.47282608695652173

In [ ]:
tt[tt.survived == 1]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True