<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/pythonn12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

**함수(function)는 객체(object)**

*   객체 : 숫자(int, float), 문자열(str), 논리값(True/False), list, dict, tuple, ...
*   함수는 변수에 할당할 수 있음.
*   함수의 아규먼트로 함수를 전달할 수 있음.
*   함수의 반환값으로 함수를 사용할 수 있음.
*   함수 내부에서 또다른 함수를 선언할 수 있음.

In [ ]:
x = 1 # 정수 1을 변수 x에 할당(저장)
print(x)  # 정수를 함수의 아규먼트로 전달.

1

In [ ]:
result = len('안녕!')  # len()함수는 정수를 리턴.
print(result)

3

In [ ]:
def double(x):
    return 2 * x

In [ ]:
result = double(5)   # 함수 double을 호출하고, 그 반환값을 변수 result에 저장.
print(result)

10

In [ ]:
print(double(3))  # 함수 double을 호출하고 그 결과를 출력

6

In [ ]:
print(double)  # 함수를 호출할 땐 반드시 괄호 ( )가 있어야 함
# double 이름의 함수 객체를 문자열로 표현해서 출력, 함수를 호출한 게 아님.

<function double at 0x78df4e83bc40>

## 함수를 변수에 할당

In [ ]:
twice = double
# 함수 호출이 아니고 함수 객체 double 을 변수 twice에 저장
print(twice)

<function double at 0x78df4e83bc40>

In [ ]:
print(twice(10)) # twice() 함수 호출은 double() 함수 호출과 동일

20

## 아규먼트로 함수를 전달받는 함수

In [ ]:
def calculator(x, y, fn):
    result = fn(x, y)

    return result

In [ ]:
def plus(x, y):
    return x + y

In [ ]:
result = calculator(1, 2, plus)
print(result)

3

In [ ]:
def minus(x, y):
    return x-y

result = calculator(1, 2,minus)
print(result)

-1

In [ ]:
def is_greater(x, y):
    return x > y

result = calculator(1, 2, is_greater)
print(result)

False

## 내부 함수, 함수를 리턴하는 함수

내부 함수(inner function), 지역 함수(local function):

*   함수 내부에서 선언된 함수.
*   선언된 함수 내부에서만 호출할 수 있음
*   선언된 함수 외부에서는 호출할 수 없음.
*   외부 함수의 지역 변수들 (파라미터 포함)을 사용할 수 있음

In [ ]:
def make_incrementor(n):
    # 내부 함수(지역 함수) :
    def add_n(x):
        return x + n

    # 함수 객체를 리턴
    return add_n

In [ ]:
plus_2 = make_incrementor(2)
print(plus_2)
result = plus_2(10)
print(result)

<function make_incrementor.<locals>.add_n at 0x78df4e849c60>
12

In [ ]:
plus_10 = make_incrementor(10)
result = plus_10(100)
print(result)

110

In [ ]:
result = make_incrementor(100)(123)
print(result)

223

#람다 표현식(Lambda Expression)
*  (함수를 표현하는 방식)

* 문법
~~~
Lambda param1, param2, ...: expression(식)
~~~

*   이름이 없는 함수
*   함수 이름 선언 없이, 함수 파라미터 선언과 반환값 또는 반환 식으로 함수를 정의(선언)하는 것.
*   람다 표현식은 변수에 할당할 수 있음. ** 함수의 아규먼트로 전당할 수 있음 **

In [ ]:
#  함수 선언
def plus_one(x):
    return x + 1

# 람다 표현식
plus_one = lambda x : x + 1
print(plus_one)
print(plus_one(1))

<function <lambda> at 0x78df1b703ba0>
2

In [ ]:
# def add(x, y):
    # return x + y

add = lambda x,y : x + y
print(add(100,200))

300

함수 'calculate( )의 아규먼트로 람다 표현식을 전달

In [ ]:
result = calculator(1, 2, lambda x,y : x + y)
print(result)

3

In [ ]:
result = calculator(1, 2,lambda x,y: x - y )
print(result)

-1

In [ ]:
result = calculator(2, 3, lambda x, y: x * y)
print(result)

6

In [ ]:
result = calculator(1, 2, lambda x, y: x / y)
print(result)

0.5

## lambda를 아규먼트로 전달하는 예

*   filter: 조건을 만족하는 원소들롤 이루어진 리스트를 리턴.
*   map:  원소들을 일정한 규칙에 따라서 다른 값으로 변환(매핑).

In [ ]:
import random

In [ ]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)

[2, 1, 7, 7, 9, 6, 1, 7, 4, 7]

리스트 numbers에서 짝수들만 필터링한 리스트.

In [ ]:
# filter(function, iterable):iterable의 원소를 function의 아규먼트로 전달했을 때 True를 리턴하는 값들로 이루어진 filter 객체를 리턴.
evens = filter(lambda x: x % 2 == 0, numbers)
result = list(evens) # 필터링된 객체를 리스트(list)타입으로 변환.
print(result)

[2, 6, 4]

리스트 numbers 원소들의 제곱으로 이루어진 리스트

In [ ]:
#map(function, iterable):iteraable의 원소들을 function의  아규먼트로 전달해서 funxtion이 리턴해 주는 값들로 이루어진 map 객체를 리턴
squares = map(lambda x: x** 2, numbers)
result = list(squares) # 매핑(변환)된 객체를 리스트 타입으로 변환
print(result)

[4, 1, 49, 49, 81, 36, 1, 49, 16, 49]

연습문제 1.
*   [-10, 10] 범위의 난수 10개를 원소로 갖는 리스트를 만듦.
*   위 리스트에서 음수들만 필터링한 리스트를 만들고 출력.
*   홀수들만 필터링한 리스트를 만들고 출력.

In [ ]:
numbers = [random.randrange(-10, 11) for x in range(10)]
print(numbers)
negatives = filter(lambda x: x < 0, numbers)
result = list(negatives)
print(result)
odds = filter(lambda y: y % 2 == 1, numbers)
print(list(odds))

[-9, -1, -4, 6, -5, 10, 3, 4, 8, -4]
[-9, -1, -4, -5, -4]
[-9, -1, -5, 3]

연습문제 2.
*   [0, 100) 범위의 난수 10개를 원소로 갖는 리스트를 만듦.
*   위의 리스트의 원소가 짝수이면 'even' , 홀수이면 'odd'로 매핑한 리스트를 만들고출력
*   리스트의 원소가 0 ~19이면 'teen' 20 ~ 59이면 'adult' 60 이상이면 'senior'로 매핑한 리스트를 만들고 출력

In [ ]:
numbers2 = [random.randrange(0,101) for x in range(10)]
print(numbers2)
even = filter(lambda x: x % 2 == 0, numbers2)
result = list(even)
print(f' even = {result}')
odd = filter(lambda x: x % 2 == 1, numbers2)
result2 = list(odd)
print(f' odd = {result2}')

[89, 45, 20, 8, 28, 78, 65, 2, 83, 67]
 even = [20, 8, 28, 78, 2]
 odd = [89, 45, 65, 83, 67]

In [ ]:
even_or_odd = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers2)
print(list(even_or_odd))   #a 매핑(변환)된 객체를 리스트로 변환해서 출력

['odd', 'odd', 'even', 'even', 'even', 'even', 'odd', 'even', 'odd', 'odd']

In [ ]:
age = map(lambda x: 'teen' if x < 20 else ('adult' if x <60 else 'sneior'), numbers2)
print(list(age))

# if age < 20:
#     category = 'teen'
# elif age < 60:
#     category = 'adult'
# else:
#     category = 'sneior'

['sneior', 'adult', 'adult', 'teen', 'adult', 'sneior', 'sneior', 'teen', 'sneior', 'sneior']

## filter 구현

In [ ]:
def my_filter(iterable, function):
    """
    iterable의 원소들 중에서 함수 function의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴.

    @param iterable: list 또는  tuple.
    @param function: 아규먼트가 1개 이고, True/False를 리턴하는 함수.
    @return: 리스트(list).
    """

    # result = []  #  조건에 맞는 원소들을 저장하기 위한 빈 리스트
    # for x in iterable:   # iterable의 모든 원소들을 순서대로 반복하면서
    #     if function(x):  # 함수 호출 결과가 True이면(조건을 만족하면)
    #         result.append(x)  # 결과 리스트에 그 원소를 추가

    result = [x for x in iterable if function(x)]

    return result

In [ ]:
numbers = [random.randrange(10) for _ in range(10)]
print(numbers)
evens = my_filter(numbers, lambda x: x % 2 ==0)
print(evens)

[2, 8, 9, 2, 2, 4, 0, 0, 4, 3]
[2, 8, 2, 2, 4, 0, 0, 4]

In [ ]:
languages = ['Python', 'SQL', 'java', 'JavaScript' 'HTML']

#languages의 문자열들 중에서 길이가 5보다 큰 문자열들로 이루어진 리스틀를 my_filter를 사용해서 만들어 보세요.

result = my_filter(languages, lambda x: len(x) >= 5)
print(result)

['Python', 'JavaScriptHTML']

## map 구현

In [ ]:
def my_mapper(iterable, fn):
    """
    iterable의 원소를 함수 fn의 아규먼트로 전달했을 때 그 리턴값을 리스트에 추가해서 리턴.

    @param iterable: list 또는 tuple.
    @param fn: 아규먼트가 1개 이고, 1개의 값을 리턴하는 함수.
    @return 리스트.
    """

    # result = []                 # 매핑된 값들을 저장할 빈 리스트
    # for x in iterable:          # iterable의 원소들을 순서대로 반복하면서
    #     result.append(fn(x))    # 함수 fn()의 리턴값을 리스트에 추가.

    result = [fn(x) for x in iterable]

    return result

In [ ]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

# 짝수 -> 'even'  , 홀수 -> 'odd'
result = my_mapper(numbers, lambda x: 'even' if x % 2 == 0 else 'odd')
print(result)

[40, 7, 88, 9, 13, 8, 94, 46, 61, 93]
['even', 'odd', 'even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'odd']

In [ ]:
languages = ['Python', 'SQL', 'Java', 'JavaScript', 'HTML']

# languages 원소 ->글자수로 매핑

result = my_mapper(languages, lambda x: len(x))
print(result)

[6, 3, 4, 10, 4]