<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

*   사전(dictinonary) 형식의 데이터 타입.                         
*   키(key)를 기반으로 값(value)을 저장하는 데이터 타입.
    *   list, tuple : 인덱스(index)를 기반으로 값(value)들을 저장하는 데이터 타입.
    *   dict 타입에서 키(key)의 역할은 list 나 tuple 에서 인덱스와 비슷하게, dict에 저장된 값 1개를 참조하기 위한 용도.
        *  키(key)는 중복된 값을 허용하지 않음.

In [ ]:
students = {100:'홍길동', 101:'오쌤', 200:'Scott'}  # key : value = 합쳐서 item 아이템들을 구분할땐
print(type(students))
print(students)

<class 'dict'>
{100: '홍길동', 101: '오쌤', 200: 'Scott'}

In [ ]:
#   dict[key] : dict에서 key에 해당하는 값을 참조.
students[200]

'Scott'

## dict 함수 (메서드 )

In [ ]:
 # dict.keys() : dict 객체가 가지고 있는  key들의 리스트를 반환
students.keys()

dict_keys([100, 101, 200])

In [ ]:
# dict.values() : dict  객체의 값(value)들의 리스트를 반환
students.values()

dict_values(['홍길동', '오쌤', 'Scott'])

In [ ]:
# dict.items() : (key, value) 튜플들의 리스트를 반환.
students.items()

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')])

In [ ]:
# dict.get(key) : key 에 해당하는 value를 반환. dict[key] 와 같음
students. get(100)

'홍길동'

`dict[key] = value`

*   key가 dict에 없을 때는 key:value 아이템을 dict에 추가.
*   key가 dict에 있을 때는 key에 해당하는 값을 새로운 값 value로 바꿈.

In [ ]:
students[300] = '홍길동'
print(students)

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [ ]:
students[300] = '김길동'
print(students)

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '김길동'}

In [ ]:
print(students)

{101: '오쌤', 300: '김길동'}

# dict 와  for 반복문

In [ ]:
# for -in 반복문에서 dict 객체를 사용하면  key emfdmf  iteration(반복)함
for k in students:
    print(k)

100
101
200
300

In [ ]:
for k in students:
    print(k, ':', students.get(k))     # students.get(k)    =    students()

100 : 홍길동
101 : 오쌤
200 : Scott
300 : 김길동

In [ ]:
for k , v in students.items():
    print(k, '-', v)

100 - 홍길동
101 - 오쌤
200 - Scott
300 - 김길동

In [ ]:
book = {'title' : '파이썬 200제', 'author': '장삼용', 'publisher' : '정보문화사',}
print(book)

{'title': '파이썬 200제', 'author': '장삼용', 'publisher': '정보문화사'}

In [ ]:
for k, v in book.items():
    print(k, ':', v)

title : 파이썬 200제
author : 장삼용
publisher : 정보문화사

# 다양한 자료를 저장하는 dict

In [ ]:
contact = {'name' : '홍길동',
            'phone' : ['010-1234-5678', '02-2222-2222'],
            'email' : {'personal' : 'aaa@naver.com', 'company' : 'aaa@naver.com'},
            'no' : 1}

In [ ]:
for k,v in contact.items():
    print(k,':', v)

name : 홍길동
phone : ['010-1234-5678', '02-2222-2222']
email : {'personal': 'aaa@naver.com', 'company': 'aaa@naver.com'}
no : 1

In [ ]:
# contact.get('phone')
contact['phone']

['010-1234-5678', '02-2222-2222']

In [ ]:
# contact.get('phone')[0]
contact['phone'][0]

'010-1234-5678'

In [ ]:
contact['email']['company']

'aaa@naver.com'

# dictionary comprehension

In [ ]:
emp_no = [1001, 1002, 1002, 1004]
emp_name = ['scott', 'allen', 'king', '오쌤']

emp = {}  #empty dict
for k, v in zip(emp_no, emp_name):    #  ㄱ   = emp2 = {k: v for k, v in zip(emp_no, emp_name)}
    emp[k] = v                        #  _J
print(emp)

{1001: 'scott', 1002: 'king', 1004: '오쌤'}

In [ ]:
emp2 = {k: v for k, v in zip(emp_no, emp_name)}
print(emp2)

{1001: 'scott', 1002: 'king', 1004: '오쌤'}

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기']

# 리스트 fruits에 있는 과일이름을 key로 하고, 그 문자열의 길이를 value로 하는 dict를 만들고 출력
fruit_length = {}
for k in fruits:
    fruit_length[k] = len(k)
print(fruit_length)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2}

In [ ]:
fruit_length2 = {k: len(k) for k in fruits}
print(fruit_length2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2}