<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

## else 없는 조건문

```
if 조건식:
    조건식을 만족할 때 실행할 코드 블록(문장들)                                
```
 * `if 조건식` 뒤에는 반드시 콜론(:)을 써야 함. 콜론 의미는 블록 시작을 의미.  
 * if 블록은 반드시 들여쓰기(indentation)을 해야 됨.
 * 들여쓰기의 크기는 일정해야 함.

In [ ]:
age = int(input('몇 살이세요? '))
if age >= 0:
   print(f'당신은 {age}살이군요.')
   print('=== end ===')

몇 살이세요? 5
당신은 5살이군요.
=== end ===

## else 있는 조건문

```
if 조건식:
    조건식을 만족할 때 실행할 코드 블록 (1)
else:
    조건식을 만족하지 못할 때 실행할 코드 블록 (2)    
```

*  조건식을 만족하면 (1) 블록을 실행. 만족 못하면 (2) 실행
*  `if 조건식`과 `else` 다음에는 반드시 콜론(:)을 써야 함.
*  if블록(1)과 else 블록(2)은 반드시 들여쓰기를 해야 함.
*  들여쓰기의 크기는 일정해야 함.

In [ ]:
age = int(input('몇 살이세요? '))
if age >= 0:
    print(f'당신은 {age}살이군요.')
else:
    print('잘못입력했습니다')
print('=== end ===')

몇 살이세요? 5
당신은 5살이군요.
=== end ===

*    정수를 입력받아서 변수에 저장
*    입력받은 정수가 짝수이면 '짝수'라고 출력
*    그렇지 않으면 '홀수'라고 출력

In [ ]:
number = int(input('숫자를 적으세요.'))
if number % 2 == 0:
    print('짝수')
else:
    print('홀수')

숫자를 적으세요.10
짝수

Falsy Value: 파이썬에서 거짓(False)로 취급하는 값.

*  숫자 0
*  빈 문자열( '', "")
*  빈 이스트([])
*  None(변수에 값을 할당하지 않을 때 사용하는 파이썬 예약어)
name = None

In [ ]:
number = int(정수 입력>>input('>'))
if number % 2:
    # 변수 nember를 2로 나눈 나머지가 있으면
    print('홀수')
else:
    # 나머지가 없으면
    print('짝수')

정수 입력>>>10
짝수

##  chained conditionals

```
if 조건식1:
   (조건식1)이 True인 경우 실행할 블록
elif 조건식2:
   (조건식2)이 True인 경우 실행할 블록
```
else:
   위의 조건식들이 False일 때 실행할 블록
```

*   모든 블록들은 같은 크기로 들여쓰기를 해야 함.
*   `elif 조건식` 블록은 1개 이상이 있을 수 있음.
*   else 블록은 생략할 수 있음.

In [ ]:
number = float(input('숫자를 입력>>>'))
if number > 0:
    print('양수')
elif number < 0:
    print('음수')
else:
    print('zero')

숫자를 입력>>>0
zero

## 중첩 조건문

*  if 블록, elif 블록, else 블록 안에서 또다른 조건문(if 문, if-else 문, if-elif-else 문)을 사용하는 것.
*  들여쓰기 특히 주의!
*  들여쓰기 방식에 따라서 전혀 다른 로직의 실행문이 될 수 있음.
*  논리 연산자(and, or)를 사용하는 문장 또는 elif 블록을 중첨 조건문으로 바꿀 수 있음.

In [ ]:
number = float(input('숫자 입력>>'))
if number > 0:
    print('양수')
else:
    if number < 0:
        print('음수')
    else:
        print('zero')

숫자 입력>>0
zero

연습 문제:

1. 정수를 3개 입력받고 각각 변수에 저장
2. 3개 정수의 총점, 평균을 계산하고 출력
3. 평균이 90 이상이면 'A' 80 이상이면 'B' 70 이상이면 'C' 60 이상이면 'D' 60 이면 'F'라고 출력

In [ ]:
number1 = int(input('점수 1 입력>'))
number2 = int(input('점수 2 입력>'))
number3 = int(input('점수 3 입력>'))
sum = number1 + number2 + number3
print(f'총점 {sum} ')
average = sum / 3
print(f'평균 {average}')
if average >= 90:
    print('A')
elif average >= 80:
    print('B')
elif average >= 70:
    print('C')
elif average >= 60:
    print('D')
else:
    print('F')

점수 1 입력>100
점수 2 입력>90
점수 3 입력>80
총점 270
평균 90.0
A

In [ ]:
# 평균이 90 이상이면 'A' 80 이상이면 'B' 70 이상이면 'C' 60 이상이면 'D' 60 이면 'F'라고 출력
number1 = int(input('점수 입력1'))
number2 = int(input('점수 입력2'))
number3 = int(input('점수 입력3'))
sum = (number1 + number2 + number3)
average = (number1 + number2 + number3) / 3
print(f'총점 {sum}')
print(f'평균{average}')
if average >= 90:
    print('A')
elif average >= 80:
    print('B')
elif average >= 70:
    print('C')
elif average >= 60:
    print('D')
else:
    print('F')

점수 입력175
점수 입력275
점수 입력375
총점 225
평균75.0
C

# match 문

```
match 변수(식):
    case 값1:
        변수(식)의 결과가 값1인 경우 실행할 코드 블록
    case 값2:
        변수(식)의 결과가 값2인 경우 실행할 코드 블록
    ...
```

In [ ]:
day = int(input('0~6 사이의 정수 입력 >>>'))
match day:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

0~6 사이의 정수 입력 >>>5
금요일

In [ ]:
day = int(input('0~6 사이의 정수 입력 >>>'))
match day:
    case 1 | 2 | 3 | 4 | 5:
        print('평일')
    case 0 | 6:
        print('주말')
    case _:    # 위에서 나열된 case들 이외의 나머지 전부
        print('숫자를 잘못 입력했어요')

0~6 사이의 정수 입력 >>>4
평일

# 난수(random number) 생성방법

In [2]:
import random   # 난수 생성 기능(함수)들을 가지고 있는 random 모듈을 사용.

In [ ]:
random.random()    #random.random() : 0 <= x < 1 범위의 @실수@ 난수를 생성.

0.7234065150230743

In [ ]:
random.randrange(0, 3)  #random.randrange(start, stop) start <= x < stop 범위의 @정수@ 난수 생성 (범위는 시작은 포함 끝은 미포함)

0

In [ ]:
random.randrange(3)  # random.randrange(stop) : 0 <= x < stop 범위 정수 난수 생성

2

## 연습문제

가위, 바위, 보 게임의 승패를 출력:

* 가위(1), 바위(2) 보(3)
* 컴퓨터 - 1 이상 3이하 의 정수 한 개를 생성하고 변수에 저장.
* 사용자 - 1이상 3 이하의 정수를 입력받아서 변수에 저장
* 승패 (조건문 작성)

In [ ]:
computer = random.randrange(1,4)
print(f' computer = {computer}')

 computer = 2

In [ ]:
print('===가위 바위 보===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
user = int(input('선택>>>'))
print(f'user = {user}')

===가위 바위 보===
[1] 가위
[2] 바위
[3] 보
선택>>>3
user = 3

In [3]:
print('===가위 바위 보===')
print('[1] 가위')
print('[2] 바위')
print('[3] 보')
user = int(input('선택>>>'))
computer = random.randrange(1,4)
match computer:
    case 1:
        print('computer = 가위')
    case 2:
        print('computer = 바위')
    case 3:
        print('computer = 보')
match user:
    case 1:
        print('user = 가위')
    case 2:
        print('user = 바위')
    case 3:
        print('user = 보')
if user == computer:
    print('비김')
elif (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
    print('승')
else:
    print('패')

===가위 바위 보===
[1] 가위
[2] 바위
[3] 보
선택>>>3
computer = 보
user = 보
비김