<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python14_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1. Score 클래스

*   속성(attributes):
    *   국어, 영어, 수학 점수
    *   국어, 영어, 수학 점수의 기본값은 0.
*   기능(functionality):
    *   `__str__`: `Score(korean=100, english=100, math=100)` 포맷의 문자열을 리턴
    *   `__repr__`: `점수(국어=100, 영어=100, 수학=100)` 포맷의 문자열을 리턴
    *   `calculate_sum`: 세 과목의 총점 리턴
    *   `calculate_mean`: 세 과목의 평균 리턴

In [ ]:
class Score:

    def __init__(self, korean=0, english=0, math=0):
        self.korean = korean
        self.english = english
        self.math = math

    def __str__(self):
        return f'score(korean= {self.korean}, english= {self.english}, math= {self.math})'


    def __repr__(self):
        return f'점수(국어 = {self.korean}, 영어 = {self.english}, 수학 = {self.math})'

    def calculate_sum(self):
         return self.korean + self.english + self.math

    def calculate_mean(self):
        return self.calculate_sum() / 3

In [ ]:
score1 = Score(100,95,88)
print(score1)    # __str__() 결과
print('korean:', score1.korean)
print('english:', score1.english)
print('math:', score1.math)
print('총점:', score1.calculate_sum())
print('평균:', score1.calculate_mean())
score1  #  식(expression) 출력 : __repr__() 메서드 반환값

score(korean= 100, english= 95, math= 88)
korean: 100
english: 95
math: 88
총점: 283
평균: 94.33333333333333

점수(국어 = 100, 영어 = 95, 수학 = 88)

In [ ]:
score1 = Score(100,95,88)
print(score1)

score(korean= 100, english= 95, math= 88)

`print(object)` 호출하면, `object.__str__()`메서드가 리턴하는 문자열을 출력.

In [ ]:
score1

점수(국어 = 100, 영어 = 95, 수학 = 88)

파이썬 노트북(*,ipynb 파일)의 코드 셀은 가장 마지막 라인의 변수 혹은 식(expression)을 자동으로 출력해 주는 기능을 가지고 있음. 가장 마지막 라인이 객체인 경우, 그 객체의 `__repr__()` 메서드가 리턴하는 문자열을 출력.

# Ex2. Student 클래스

*   속성(attributes):
    *   학생 번호, 학생 이름, 점수(Score 객체)
*   기능(functionality):
    *   `__str__`: `Student(name: 홍길동, score: Score(korean=100, english=100, math=100))` 포맷의 문자열을 리턴
    *   `__repr__`: `학생(name: 홍길동, score: 점수(국어=100, 영어=100, 수학=100))` 포맷의 문자열을 리턴
*   테스트
    *   Student 객체(인스턴스)를 생성.
    *   Student 인스턴스를 출력.
    *   생성된 객체에서 총점, 평균을 계산하는 메서드를 호출.

In [ ]:
class Student:
    def __init__(self, no, name, score):
        self.no = no
        self.name = name
        self.score = score

    def __str__(self):
        # f'{object}' 사용하면, object.__str__ () 메서드가 리턴하는 문자열로 만들어짐.
        return f'student(no = {self.no}, name = {self.name}, score = {self.score})'

    def __repr__(self):
         return f'학생(no= {self.no}, name= {self.name}, score={self.score.__repr__()})'

In [ ]:
student1 = Student(1001, '오쌤', score1)
print(student1)
print('총점:', student1.score.calculate_sum())
print('평균:', student1.score.calculate_mean())
student1

student(no = 1001, name = 오쌤, score = score(korean= 100, english= 95, math= 88))
총점: 283
평균: 94.33333333333333

학생(no= 1001, name= 오쌤, score=점수(국어 = 100, 영어 = 95, 수학 = 88))

In [ ]:
student3 = Student(2001, 'Scott', Score(99, 85, 98))
print(student3)
print(student3.score.calculate_sum())
print(student3.score.calculate_mean())

student(no = 2001, name = Scott, score = score(korean= 99, english= 85, math= 98))
282
94.0