<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python08_ipynb%EC%9D%98_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random  # 난수 생성 함수(들)을 사용하기 위해서(random.randrange, ...)
import math  # 수학 함수(들)을 사용하기 위해서(math.sqrt, ...)

# Ex 1.

아래의 리스트 fruits에 저장된 문자열들의 길이를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermellon']

# lengths = []
# for x in fruits:
#     lengths.append(len(x))

lengths = [len(x) for x in fruits]
print(lengths)

[5, 6, 6, 6, 11]

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [ ]:
gender_codes = [random.randrange(1, 5) for _ in range(10)]
print(gender_codes)

genders = ['Male' if x == 1 or x == 3 else 'Female' for x in gender_codes]
print(genders)

[2, 2, 4, 3, 3, 1, 3, 1, 3, 2]
['Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female']

# Ex 3.

아래의 두 2차원 리스트 m1, m2에서 같은 인덱스에 있는 원소들끼리의 덧셈 결과를 저장하는 리스트를 만들고 출력하세요.

In [ ]:
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

result = []
for row1, row2 in zip(m1, m2):        # zip(리스트1,리스트2) 를 for 앞에 변수에 각각 할당
    row_plus = []
    for x, y in zip(row1, row2):
        row_plus.append(x + y)        #일반적인 for 반복문은 꼭 알자!
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
result = []
for row1, row2 in zip(m1, m2):
    row_plus = [x + y for x, y in zip(row1, row2)]
    result.append(row_plus)

print(result)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
result = [[x + y for x,y in zip(row1,row2)]
          for row1,row2 in zip(m1, m2)]
print(result)

[[2, 3, 4], [6, 7, 8]]

# Ex 4.

1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [ ]:
num_of_items = 5

In [ ]:
scores = [random.randrange(1,11) for _ in range(1,6)]  # = range(num_of_range)
print(scores)

[4, 1, 9, 8, 6]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [ ]:
total = sum(scores)   #sum = 함수의 이름     # 함수의 이름으로 변수를 만들면 안됨 ex) sum=sum(total)
print(total)

28

In [ ]:
total = 0
for x in scores:
    total += x

print(total)

28

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [ ]:
mean = total / num_of_items
print(mean)

5.6

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [ ]:
# 분산  (첫번째 원소 - 평균)의 제곱 + (두번째 원소 - 평균)의 제곱 + ... / 원소의 개수 - 1

# variations = []
# for x in scores:
#     variations.append((x - mean) ** 2)

variations =[(x - mean) ** 2 for x in scores]
print(variations)

var = sum(variations) / (num_of_items - 1)
print(var)

[2.5599999999999987, 21.159999999999997, 11.560000000000002, 5.760000000000002, 0.16000000000000028]
10.300000000000002

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [ ]:
std = math.sqrt(var)
print(std)

3.209361307176243

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [ ]:
max(scores)

9

In [ ]:
# 4 1 9 8 6
max_scores = scores[0]    # 리스트의 첫번째 원소를 최댓값이라고 가정
for x in scores:          # 리스트의 모든 원소들을 처음부터 끝까지 순서대로 반복하면서
    if x > max_scores:    # 리스트의 원소가 최댓값으로 가정한 값보다 크다면
        max_scores = x    # 리스트에서 찾은 값을 최댓값에 저장

# max_scores = scores[0]
# for x in scores:
#     max_scores = x if x > max_scores else max_scores

print(max_scores)

9

# EX 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [ ]:
min(scores)

1

In [ ]:
min_scores = scores[0]
for x in scores:
    if x < min_scores:
        min_scores = x


print(min_scores)

1

표준편차, 분산이 크면 데이터들이 평균에서 멀리

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$