<a href="https://colab.research.google.com/github/ttjjdddduuqq/0913/blob/main/python06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(List)

*  `list`: 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
*   element(원소,요소): 리스트에 저장된 각각의 값.
*   index(인덱스): 리스트에서 각각의 원소들이 저장된 위치(번호).
    *   리스트의 인덱스는  0 부터 시작.
    *   리스트의 마지막 인덱스는 (원소 개수 - 1).
*   리스트는 원소들을 변경(추가, 삭제)할 수 있음.
    *   `tuple` 과 다른점!  \

In [ ]:
# 숫자들을 저장하는  list
numbers = [1, 2, 10, 20, -1, -2]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 2, 10, 20, -1, -2]

In [ ]:
# 여러가지 타입의 원소들을 저장하는  list
values =[1, 2, 'hello', '안녕', True, False]
print(type(values))
print(values)

<class 'list'>
[1, 2, 'hello', '안녕', True, False]

## Indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법.

In [ ]:
numbers = [1, 2, 10, 20, -1, -2]

In [ ]:
numbers[0]    # 리스트 numbers의 첫번째 원소

1

In [ ]:
numbers[5]    # 리스트 numbers의 다섯번째 원소

-2

In [ ]:
numbers[3]    # 리스트 numbers의 세번째 원소

20

In [ ]:
numbers[-1]  # 리스트 numbers의 마지막 원소

-2

In [ ]:
numbers[-2]  #리스트 numbers의 끝에서 두번째 원소

-1

## slicing

`list[start:end]`

*  list에서 인덱스가 start <= index < end 범위의 원소들을 잘라내는 방법.
*  시작 인덱스 start를 생략하면, 시작 인덱스는 0번
*  마지막 인덱스 end를 생략하면, 리스트의 마지막 원소까지 잘라냄.
*  slicing의 결과는 **새로운 리스트!**

In [ ]:
numbers = [1, 2, 10, 20, -1, -2]

In [ ]:
numbers[1:4]

[2, 10, 20]

In [ ]:
numbers[:3]

[1, 2, 10]

In [ ]:
numbers[3:]

[20, -1, -2]

In [ ]:
numbers[:]    #numbers의 리스트는 그대로 있고

[1, 2, 10, 20, -1, -2]

In [ ]:
 # 리스트 numbers에서 마지막 2개 원소만 선택(slicing)
 numbers[-2:]

[-1, -2]

In [ ]:
print(numbers[0])    # indexing: 리스트에서 해당 인덱스의 원소(값) 1개를 찾음 -> 숫자 1
print(numbers[0:1])  # slicing: 리스트에서 일부분을 잘라낸 리스트. -> 리스트 [1]

1
[1]

## 문자열(string)

문자열 : 문자들의 리스트.

*  인덱스를 사용할 수 있음.
    *   indexing: 해당 인덱스의 문자 1개를 선택.
    *   slicing  문자열의 일부를 잘라냄.

In [ ]:
message = '안녕, python!'  # 문자 11개를 갖는 문자열. 11개의 문자들을 원소로 갖는 리스트

In [ ]:
#  문자열 message에서 첫번째 문자를 선택
message[0]

'안'

In [ ]:
#  문자열 message에서 마지막 문자
message[-1]

'!'

In [ ]:
# 문자열 message에서 첫 두글자
message[:2]

'안녕'

In [ ]:
# 문자열 message에서 마지막 세글자
message[-3:]

'on!'

## list의 산술 연산

In [ ]:
# 문자열의 +
'hello' + '안녕'

'hello안녕'

In [ ]:
# list 의 +
[1,2,3] + [100, 200]

[1, 2, 3, 100, 200]

In [ ]:
# 문자열의 *
'안녕' * 5

'안녕안녕안녕안녕안녕'

In [ ]:
# list의 *
[1,2,3,] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 기능들 - 함수(메서드)

## 원소 추가

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# list.append(값): 값을 list의 가장 마지막 위치에 추가
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 100]

In [ ]:
# list.insert(index, object) : list의 index 위치에 object를 삽입
numbers.insert(0, 123)
print(numbers)

[123, 1, 2, 3, 4, 5, 100]

In [ ]:
#list.extend(iterable) : iterable 타입 객체의 원소들을 하나씩 list에 추가
# numbers = numbers + [-1, -2, -3]
numbers.extend([-1, -2, -3])
print(numbers)

[123, 1, 2, 3, 4, 5, 100, -1, -2, -3]

In [ ]:
numbers.append([111,222])
print(numbers)# list.append(another_list) :another_list의 가장 마지막에 추가. extend() 함수의 결과와 다름!

[123, 1, 2, 3, 4, 5, 100, -1, -2, -3, [111, 222]]

## 원소 삭제

In [ ]:
numbers = [1,2,3,10,20,30,1,2,3,]
print(numbers)

[1, 2, 3, 10, 20, 30, 1, 2, 3]

In [ ]:
# list.pop() : list의 가장 마지막 원소를 삭제
numbers.pop()
print(numbers)

[1, 2, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.pop(index) : 해당 index 위치의 원소를 삭제
# index 파라미터의 기본값은 -1 이기 떄문에, 아규먼트를 전달하지 않으면 가장 마지막 원소가 삭제됨
numbers.pop(1)
print(numbers)

[1, 3, 10, 20, 30, 1, 2]

In [ ]:
# list.remove(value) : list의 원소들 중에서 가장 먼저 나오는 value를 삭제.
numbers.remove(2)
print(numbers)

[1, 3, 10, 20, 30, 1, 2, 3]

In [ ]:
# list.clear() : list의 모든 원소들을 삭제
numbers.clear()
print(numbers)

[]

## 특정 인덱스의 원소 변경

In [ ]:
names =['홍길동', 'scott', 'tiger']
print(names)

['홍길동', 'scott', 'tiger']

In [ ]:
# list[index] = value: list에서 index 위치의 값을 value로 변경.
names[2] = '오쌤'
print(names)

['홍길동', 'scott', '오쌤']

# list와 for 반복문

In [ ]:
numbers = [1, 2, 3, 10, 20, 30]
# list의 아이템(값)들을 순서대로 반복:
for x in numbers:
    print(x)

1
2
3
10
20
30

In [ ]:
# list의 인덱스와 아이템(값)들을 순서대로 반복:
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 2
2 : 3
3 : 10
4 : 20
5 : 30

연습문제
*  빈 리스트 numbers를 만듦.
*  리스트 numbers에 10 미만의 정수 난수 10개를 저장. 난수 append for
*  numbers를 출력 print
*  numbers의 원소들 중에서 짝수들만 찾아서 새로운 리스트 evens를 만들고 출력
numbers로 반복 if사용해서 어펜드
  numbers 의 원소들 중에서 홀수들만 찾아서 새로운 리스트 odds를 만들고 출력

In [ ]:
numbers = []
evens = []
odds = []
import random
numbers = [random.randrange(1,10)]
for x in range(0,10):
    numbers.append(random.randrange(1,10))
print(f'numbers {numbers}')

for y in numbers(1,10):
    evens.append(random.randrange(1,10))
    if y % 2 == 0:
print(f'evens {evens}')

for z in range(1,10):
    odds.append(random.randrange(1,10))
    if z % 2 == 0:
        print(f'odds {odds}')

IndentationError: expected an indented block after 'if' statement on line 12 (<ipython-input-4-329cc8ca90f4>, line 13)

In [ ]:
import random
numbers = []
#for _ in range(stop) ; range()의 값들을 반복 사용안할때 (underscore) _ 사용하기도 함
for _ in range(10):   # 10번 반복 ,     변수 자리 사용안하니까 빈칸으로 남기지 말고 _ 사용
    rand_number = random.randrange(10)  # 0 이상 10ㅇ미만의 정수 난수 만듦
    numbers.append(rand_number)    #난수를 리스트에 추가.
print(numbers)


evens = []
for x in numbers:    #numbers의 아이템을 순서대로 하나씩 반복하면서
    if x % 2 == 0:
        evens.append(x)
print(evens)


odds = []
for x in numbers:    #numbers의 아이템을 순서대로 하나씩 반복하면서
    if x % 2:        # y를 2로 나눈 나머지가 있으면(y가 홀수이면)
        odds.append(x)
print(odds)

[0, 9, 8, 1, 4, 9, 4, 9, 5, 3]
[0, 8, 4, 4]
[9, 1, 9, 9, 5, 3]

*  integers 이름의 빈 리스트를 만듦
*  리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장 출력
*  is_positives 이름의 빈 리스트를 만듦
*  integers의 원소가 양수이면 True 그렇지 않으면 False를 is_positives에 저장 출력

In [ ]:
import random
integers = []
for _ in range(10):
    integers.append(random.randrange(-10,11))
print(integers)

is_positive = []
for x in integers:
    if x > 0:
        is_positive.append(True)
    else:
        is_positive.append(False)
print(is_positive)

[0, 4, -5, 1, -7, -8, 7, 9, 5, 7]
[False, True, False, True, False, False, True, True, True, True]

## List Comprehension

In [ ]:
numbers =[]
for x in range(1,11):
    numbers.append(x)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [x for x in range(1,11)] # x 를 append 한다 for x in range(1,11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

1~10 까지 정수들의 제곱을 저장하는 리스트를 만들고 출력

In [ ]:
squares = []
for x in range(1,11):
    squares.append(x ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [x ** 2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

100 미만의 정수 난수 10개를 저장 리스트 출력

In [ ]:
rand_numbers = [random.randrange(100) for _ in range(10)]
print(rand_numbers)

[90, 82, 68, 57, 93, 56, 63, 74, 62, 94]

rand_numbers에서 짝수들만 선택해서 새로운 리스트 만들고 출력
홀수도 만들고 출력

In [ ]:
evens = [x for x in rand_numbers if x % 2 == 0]
print(evens)

[90, 82, 68, 56, 74, 62, 94]

In [ ]:
odds = [x for x in rand_numbers if x % 2]    #  for~rand_numbers까지 범위에서 if 가 만족하면 x를 append
print(odds)

[57, 93, 63]

if-else 표현식

```
vlaue if condition else value
값1 if 조건식 else 값2
```

조건식을 만족하면 (값1)을 선택, 그렇지 않으면 (값2) 를 선택

In [ ]:
x = 1
is_even = True if x % 2 == 0 else False
print(is_even)

False

rand_numbers의 값이 짝수이면 True , 그렇지않으면 False 리스트를 만들고 출력

---

In [ ]:
is_evens = [True if x % 2 == 0 else False for x in rand_numbers]  # if 조건이 맞으면 True 틀리면 False  for~rand_numbers 범위에서
print(is_evens)

[True, True, True, False, False, True, False, True, True, True]

# 다차원 리스트

다차원 리스트 : 리스트들을 아이템(원소)로 갖는 리스트

In [ ]:
matrix = [
    [1,2,3,4],
    [4,5,6,7],
    [7,8,9,10]
]

In [ ]:
len(matrix)    # len(object) : obj가 갖고 있는 아이템들의 개수를 리턴

3

In [ ]:
matrix[0]

[1, 2, 3, 4]

In [ ]:
matrix[0][0]

1

## 다차원 배열과 for 반복문

In [ ]:
for row in matrix:
    print(row)

[1, 2, 3, 4]
[4, 5, 6, 7]
[7, 8, 9, 10]

In [ ]:
for row in matrix:
    for x in row:
        print(x)

1
2
3
4
4
5
6
7
7
8
9
10

In [ ]:
for row in matrix:
    for x in row:
        print(x, end= '\t')
    print()

1	2	3	4
4	5	6	7
7	8	9	10

# 'zip()' 함수와 for 반복문

In [ ]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [1, 3, 5, 7, 9]

# adds = []
# for x in range(5):
#     adds.append(numbers1[x] + numbers2[x])

adds = [numbers1[x] + numbers2[x] for x in range(5)]   # 이건 위에 len(아이템 개수)가 같아야함
print(adds)

[2, 5, 8, 11, 14]

In [ ]:
# adds2 = []
# for x, y in zip(numbers1,numbers2):
#     adds2.append(x + y)
# print(adds2)

adds2 = [x + y for x, y in zip(numbers1, numbers2)]
print(adds2)

[2, 5, 8, 11, 14]